.grid {
    display: grid;
    grid-template: repeat(5, 1fr) / 300px 150px 150px;
    grid-template-areas:
        "a b c"
        "d e f"
        "d g h"
        "i j j"
        ". k k";
    grid-gap: 8px;
}

.grid-a {
    grid-area: a;
}
.grid-b {
    grid-area: b;
}
.grid-c {
    grid-area: c;
}
.grid-d {
    grid-area: d;
}
.grid-e {
    grid-area: e;
}
.grid-f {
    grid-area: f;
}
.grid-g {
    grid-area: g;
}
.grid-h {
    grid-area: h;
}
.grid-i {
    grid-area: i;
}
.grid-j {
    grid-area: j;
    background-color: lightgreen;
    font-weight: bold;
}
.grid-k {
    grid-area: k;
    background-color: indianred;
    font-weight: bold;
    color: white;
}

.validation {
    color: red;
}